In [156]:
import numpy as np
import pandas as pd
import re
import nltk
#nltk.download()
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/melodyzhang/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [157]:
data = pd.read_csv("Data.csv")

In [158]:
data.head()

  company Name                                           Question
0       Yammer   You are compiling a report for user content u...
1        Apple   How do you take millions of users with 100's ...
2     LinkedIn   Find the second largest element in a Binary S...
3      Netflix   How would you build and test a metric to comp...
4    Glassdoor   How would you test if survey responses were f...

In [159]:
# make a copy
df = data.copy()

In [160]:
# remove punctuation, lower case letters 
def clean_question(question):
    question = re.sub(r'[^\w\s]','',question)
    return (question
            .lower()
            .replace('&', 'and'))

In [161]:
df['Question'] = df['Question'].apply(clean_question)

In [162]:
df.head()

  company Name                                           Question
0       Yammer   you are compiling a report for user content u...
1        Apple   how do you take millions of users with 100s o...
2     LinkedIn   find the second largest element in a binary s...
3      Netflix   how would you build and test a metric to comp...
4    Glassdoor   how would you test if survey responses were f...

In [163]:
# remove stop words
def remove_stop_words(question):
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(question)
    filtered_sentence = [w for w in word_tokens if not w in stop_words]
    filtered_sentence = []
    
    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)
    return filtered_sentence

In [164]:
df['Question'] = df['Question'].apply(remove_stop_words)

In [165]:
df.head()

  company Name                                           Question
0       Yammer  [compiling, report, user, content, uploaded, e...
1        Apple  [take, millions, users, 100s, transactions, am...
2     LinkedIn  [find, second, largest, element, binary, searc...
3      Netflix  [would, build, test, metric, compare, two, use...
4    Glassdoor  [would, test, survey, responses, filled, rando...

In [166]:
'''
# display frequencies of single words
lst = []
for i in range(df.shape[0]):
    lst = lst + df.loc[i, 'Question']

bow = pd.Series(lst)
bow.value_counts()
'''

"\n# display frequencies of single words\nlst = []\nfor i in range(df.shape[0]):\n    lst = lst + df.loc[i, 'Question']\n\nbow = pd.Series(lst)\nbow.value_counts()\n"

In [167]:
# generate phrases
def generate_ngrams(question, n):
    ngrams = zip(*[question[i:] for i in range(n)])
    return [" ".join(ngram) for ngram in ngrams]

In [168]:
# generate phrases with n = ?
df['Question'] = df['Question'].apply(lambda s: generate_ngrams(s, n=3))

In [169]:
df.head()

  company Name                                           Question
0       Yammer  [compiling report user, report user content, u...
1        Apple  [take millions users, millions users 100s, use...
2     LinkedIn  [find second largest, second largest element, ...
3      Netflix  [would build test, build test metric, test met...
4    Glassdoor  [would test survey, test survey responses, sur...

In [170]:
# display frequencies of frequencies
lst = []
for i in range(df.shape[0]):
    lst = lst + df.loc[i, 'Question']

bow = pd.Series(lst)
bow.value_counts()

see 5 years                       49
tell us time                      43
machine learning algorithms       18
see five years                    17
data science project              17
previous work experience          16
give example time                 15
write sql query                   15
standard interview questions      14
given data set                    13
machine learning questions        13
basic behavioral questions        12
would good fit                    12
want leave current                12
machine learning model            11
tell time worked                  11
experience data analysis          10
typical interview questions        9
would like work                    9
machine learning algorithm         9
data science problem               9
data science questions             9
profit per customer                8
next 5 years                       8
time worked team                   8
basic sql questions                8
tell time deal                     8
time made mistake                  8
tell little bit                    8
basic interview questions          8
                                  ..
sql hive system                    1
youll interviewed software         1
users id like                      1
small amount data                  1
requirements want join             1
questions generate deck            1
amount water stored                1
interact within marketing          1
explain code one                   1
institution want work              1
query given asked                  1
whiteboard set model               1
behavioral questions awareness     1
form interviewing legally          1
along coding online                1
asked related pca                  1
projects detailed resume           1
prioritize list tasks              1
engineer heatmap telling           1
interview takes one                1
question wasnt asked               1
first carried trying               1
challenge onsite rounds            1
problems occur files               1
rate denoted hatp                  1
ads effectiveness also             1
question white board               1
order command sql                  1
80 careful rates                   1
really likes ask                   1
Length: 43264, dtype: int64